{% extends "base.html" %}
{% block content %}
<section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>LEADERBOARD</h2>
          <p>Let us present to you the best of the best visionaries.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li>
              <div id="faq-list-1" class="show">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">User</th>
                      <th scope="col">Ratio</th>
                      <th scope="col">Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1<i class='bx bxs-badge-dollar'></i></th>
                      <td>Danielson</td>
                      <td>15/20</td>
                      <td>75</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Flawless</td>
                      <td>13/26</td>
                      <td>62</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>NewUser</td>
                      <td>11/50</td>
                      <td>30</td>
                    </tr>
                     <tr>
                      <th scope="row">4</th>
                      <td>NewUser</td>
                      <td>11/50</td>
                      <td>30</td>
                    </tr>
                     <tr>
                      <th scope="row">5</th>
                      <td>NewUser</td>
                      <td>11/50</td>
                      <td>30</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->
{% endblock content %}